body {
  font-family: Montserrat;
}

#title {
  background-color: #ff4c68;
  color: white;
}

h1 {
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 900;
  font-size: 3.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5 rem;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 900;
}

p {
  color: #8f8f8f
}

.container-fluid {
  padding: 5% 20% 0;
}

.title-container {
  padding-top: 9%;
}

.download-btn-title {
  margin: 3% 3% 0 0 ;
}

.navbar-brand {
  font-family: 'ubuntu';
  font-weight: bold;
  font-size: 2.5rem;
}

.title-img {
  width: 70%;
}

#features {
  padding: 11% 15%;
  text-align: center;
}

.icon {
  padding-bottom: 10%;
  color: #EF8172;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #EF8172;
  color: white;
  font-weight: 900;
}

.carousel-item {
  padding: 5% 15% 4% 15%;
}

.testimonial-img {
  margin: 4% 3% 0;
  width: 15%;
  border-radius: 50%;
}

#press {
  background-color: #EF8172;
  text-align: center;
  padding-bottom: 4%;
}

.press-img {
  margin: 0 5% 0;
  width: 10%;
}

.pricing-title {
  margin-bottom: 5%;
}

#pricing {
  padding: 5% 15%;
  text-align: center;
}

#cta {
  color: #fff;
  background-color: #ff4c68;
  text-align: center;
  padding: 8% 25%;
}

.download-btn-cta {
  margin: 3% 3% 0 0 ;
}

#footer {
  background-color: #fff;
  padding: 3% 40%;
  text-align: center;
  line-height: 3.5;
}
.footer-icon{
  text-decoration: none;
  color:grey;
}
